@import "variables"; /* /src/scss/_variables.scss */
@import "./components/index";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";

.content-container {
    max-width: 1280px;
    margin: auto;
}
main {
    min-height: 68vh;
}


$large: 700px;

.home-image-container{
    background-image: url(/images.img/heather-ford-5gkYsrH_ebY-unsplash.jpg);
    border-radius: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
    @media screen and (min-width: $large) {
        // float: left;
    width: 50vw;  
    height: 35vh;    
}
}

// #previous-btn {
//     transform: scaleX(-1);
// }

.posts-home-container {
    clear: both;
    margin: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

header ul li {
    margin: 5px;
}

header ul li .active {
    border-bottom: 2px solid $red;
} 